@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

.Banner {
  height: 360px;
  position: relative;
}
.Banner .Media {
  background-color: #d7c6963d;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  cursor: pointer;
  border-radius: "20px";
}
.Banner .Media .MediaCaption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: black;
  color: white;
  opacity: 0.6;
  width: 100%;
  height: 10%;
  font-size: bigger-font-size;
  font-weight: 200;
  transition: 300ms;
  cursor: pointer;
}
.Banner .Media .MediaCaption:hover {
  opacity: 0.8;
}
.Banner .Media:hover {
  filter: brightness(55%);
}
.Banner .BannerGrid {
  height: 100%;
  position: relative;
}
.Banner .Content {
  color: white;
  background-color: #d7c6963d;
  height: 100%;
  position: relative;
  cursor: pointer;
  padding: 30px;
  transition: 300ms;
}
.Banner .Content:hover,
.Banner .Content:active {
  background-color: #b39f699f;
}
.Banner .Content:hover .ViewButton,
.Banner .Content:active .ViewButton {
  background-color: #427191;
  color: #fff;
}
.Banner .Content .Title {
  font-family: "Noto Sans KR";
  font-size: xx-large;
  font-weight: 500;
  color: #000;
}
.Banner .Content .Caption {
  margin-top: 10px;
  font-size: 25px;
  color: #000;
  font-weight: 600;
  font-family: "Noto Sans KR";
}
.Banner .Content .ViewButton {
  margin-top: 40px;
  color: #000;
  font-size: header-font-size;
  border: 1px solid rgb(185, 185, 185);
  text-transform: capitalize;
  transition: 200ms;
}

.carousel-style {
  border-radius: 22px;
}
